/* styles.css */

* {
    font-family: "Lexend Deca";
    padding: 0;
    margin: 0;
    color: white;
}

@font-face {
    font-family: "";
    src: url("./assets/font/LexendDeca-Regular.ttf")
}

body {
    background-color: #1E414E;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.menu {
    border-radius: 20px;
    background-color: #21222D;
    height: calc(100vh - 120px);
    padding: 40px 0px;
}

.icon {
    padding: 15px 45px;
    margin-bottom: 20px;
}

i {
    font-size: 18px;
    cursor: pointer;
    color: #87888C;
}i.selected {
    color: #20DF7F;
}

div.selected {
    border-right: #20DF7F solid 2px;
}

section {
    margin-left: 10px;
    border-radius: 20px;
    background-color: #21222D;
    width: 100%;
    height: calc(100vh - 82px);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h2 {
    width: fit-content;
}

#network_table {
    width: 100%;
    margin-top: 30px;
    display: none;
}

td:nth-child(2) {
    border-radius: 5px;
    background-color: black;
    border: rgba(252, 184, 89, 1) solid 1px;
    color: rgba(252, 184, 89, 1);
    color: rgba(252, 184, 89, 0.01);
    text-align: center;
}

td:last-child {
    text-align: center;
}

td, th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    text-align: left;
    padding: 8px;
}

th {
    color: #87888C;
    text-align: left;
}

#local_network {
    width: 600px;
    height: 100%;
}

.profile {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: solid 2px rgba(32, 223, 127, 0.25);
}.profile svg {
    margin-right: 20px;
}

.wifi h3 {
    color: #87888C;
    margin-bottom: 15px;
}.wifi i {
    margin-right: 10px;
}

#broadcast {
    margin-top: 30px;
}

.eye {
    color: #20DF7F;
}