.input-group {
    position: relative;
}

.input {
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    font: inherit;
    color: white;
    background-color: transparent;
    outline: 2px solid #224957;
    width: 100%;
}

.input-label {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(0px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label, .input:valid+.input-label {
    transform: translate(0px, -14px) scale(.8);
    left: 0;
    color: #ffffff;
    padding-inline: 5px;
    background-color: #093545;
}

.input:is(:focus, :valid) {
    outline-color: #20DF7F;
    padding-left: 10px;
    width: calc(100% - 10px);
}